.socials
  display: flex
  align-items: center

  @media (min-width: $mobile)
    justify-content: flex-end

  li
    a
      display: inline-flex
      align-items: center
      justify-content: center
      border-radius: 4px
      transition: outline 0.2s ease


    svg
      max-width: 1.6rem

    &:not(:first-child)
      margin-left: 2rem

    svg
      display: block

  &.in-header
    li
      svg
        path
          fill: $c-black
